%h1 Listing messages
%table
  %tr
    %th Subject
    %th Text
    %th Senderid
    %th Receiverid
    %th Plan
    %th
    %th
    %th
  - @messages.each do |message|
    %tr
      %td= message.subject
      %td= message.text
      %td= message.senderId
      %td= message.receiverId
      %td= message.plan
      %td= link_to 'Show', message
      %td= link_to 'Edit', edit_message_path(message)
      %td= link_to 'Destroy', message, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New Message', new_message_path
