<html>
  <body>
    <h1> Oh hello, <%= @message.receiver %>! </h1>
     <h2> <%= @message.sender %> sent you a message about your book on Shelfwire. </h2>

       <h3>Subject: <%= @message.subject %></h3>

       <p>"<%= truncate(@message.text, :length => 25, :omission => '... (continued)') %> "</p>
       <br>

     <p>To see the full message, the meetup plan, and to respond: 
    <%= link_to "localhost:3000/messages/@message.id"%>
    Hope you're loving life off the shelf. :)</p>
    <br>
    <p>-Your friends at 
    www.shelfwire.org</p>

  </body>
</html?