%p#notice= notice
%p
  %b Subject:
  = @message.subject

  %b Message:
  = @message.text
%p
  %b From:
  = @message.sender
%p
  %b To:
  = @message.receiver
%p
  %b Plan:
  = @message.plan


= link_to 'Edit', edit_message_path(@message)
|
\#{link_to 'Back', messages_path}
