%li.comment
  .singlecomment
    %h3 <em>#{comment.created_at.strftime("On %d %b. %Y at %H:%M")}</em> <strong> #{comment.commenter} </strong> says:
    .body
      = comment.body
  %p= link_to 'Add a Reply', new_comment_comment_path(comment)
  - unless comment.comments.empty?
    %ul.comment_list
      = render :partial => 'comments/comment', :collection => comment.comments