%li.comment
  %h3= @comment.title
  .body
    = @comment.body
  %p= link_to 'Add a Reply', new_comment_comment_path(@comment)
  - unless @comment.comments.empty?
    %ul.comment_list
      = render :partial => 'comments/comment', :collection => @comment.comments

%h1 Add a Comment
= form_for [@parent, @comment] do |f|

  %p
    = f.label :body
    %br
      = f.text_area :body
  %p
    = f.hidden_field :commenter, :value => current_user.username
  %p= f.submit 'add comment'