= form_for(@user) do |f|
  - if @user.errors.any?
    #error_explanation
      %h2
        = pluralize(@user.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  %h2 The Essential Details        
  .field
    = f.label :username
    %br/
    = f.text_field :username
  .field
    = f.label :email
    %br/
    = f.text_field :email
  .field
    = f.label :password
    %br/
    = f.password_field :password
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation
  .field

  .field
    = f.label :region
    %br/
  .field
    = collection_select(:user, :region_id, @regions, :id, :name, :prompt => true)
  

  %h2.blip Optionally, create a little profile of yourself here   (You can do it later if you prefer, but you are right here!)
  .field
    = f.label "Interests, kind of things you read"
    %br/
    = f.text_area :personal
  .field
    = f.label "Location, a general idea of your whereabouts (not too specific)"
    %br/
    = f.text_field :location
  .field
    = f.label "When might typically be a good time for other book-readers to meet up?"
    %br/
    = f.text_field :goodtime

  .actions
    = f.submit