- if !current_user
  %h2 Hi! Please log in to see the goods. :)
  .link=link_to 'Home', :root

-else
  .container
    .box.flip
      %h1.shelfname The Bookshelf of #{@user.username.capitalize}
    %p#notice= notice
    #bookshelf.clearfix
      %br/
      - @books.each do |book|
        %b
          .blip.flip
            %br/
            %h2
              =link_to book.title.capitalize, "/books/#{book.id}"
            by
            = book.author

            - if is_owner? book.poster_id 
              %br
              = link_to 'Edit this book', edit_book_path(book) 
            /   = link_to 'Edit', edit_book_path(@book)
            .thought #{@user.username.capitalize}'s thoughts on this
            .toggle
              =book.description
              %br/
              =link_to "Comment or Request to Borrow", "/books/#{book.id}"

            / -if @books.blank?
      -if @books.empty?
        %h2 #{@user.username.capitalize} hasn't filled this shelf yet...

      %br/
      %br/
      %br/


      .flip
        -if is_me? @user.id
          .entry
            %h2 Put a New Book on Your Shelf
            =render 'books/bookform'


        %br
        %br
        .nlnk
          =link_to "Profile", "/users/#{@user.id}"
        %br
        %br
        .nlnk
          %a{:href => "/regions/#{@user.region_id}"} Neighbors
        .shelf