<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
</p>
<h1><%= @user.username %></h1>

<p>
Here will be some info on this user
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>




<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %> |
<%=link_to 'Home', :root %>
