%p#notice= notice
- if is_me? @user.id
  %h1 Looking Glass
-else 
  %h1= @user.username.capitalize

.profile.blip
  %p.info
    %h3 A little about #{@user.username.capitalize}
    = @user.personal

  %p
    %h3 location:
    = @user.location

%p
  %b Email:
  = @user.email
- if is_me? @user.id
  = link_to 'Edit', edit_user_path(@user)
%p

%span#messagebox
  .link=link_to "See #{@user.username.capitalize}'s Bookshelf", :book_user
%br
  .link=link_to 'Home', :root
  .link=link_to 'Back to Friend List', :users
  
