<h1>Ok, yes, I forgot my password. It's not the end of the world.</h1>
<p>
  <% if !flash[:notice].nil? %>
    <%= flash[:notice] %>
  <% else %>
    Please enter the email address you used to register.
  <% end %>
</p>
<%= form_for @user_session, :as => :user_session, :url => forgot_password_url do |f| %>
  <%= f.label :username %><br />
  <%= f.text_field :username %><br />
  <br />
  <%= f.submit "Send Password Reset Link" %>
<% end %>