<div class="blip">
  <h1>Ok, yes, I forgot my password. It's not the end of the world.</h1>
  <p>
  <br/>
    <% if !flash[:notice].nil? %>
      <%= flash[:notice] %>
    <br/>
    <% else %>
      Please enter the email address you used to register.
    <% end %>
  </p>
  <br/>

  <%= form_tag forgot_password_url do |f| %>
    <%= label_tag :email, 'Email:' %><br/>
    <%= text_field_tag :email %><br/>
    <br>
    <%= submit_tag "Send Password Reset Link" %>
  <% end %>
</div>