!!!
%html
    %head

        %title
            Shelfwire
        = stylesheet_link_tag "application"
        = javascript_include_tag "application"
        = csrf_meta_tags
        %link{:rel=>"shortcut icon", :href=>"/assets/favicon.ico"}
    %body
        #loginform{'class'=>$show_modal_login ? 'modal' : ''}
            = render "user_sessions/form"
        .wrapper    
            .header.fill
                .pice
                .logo
                    =link_to image_tag('shelflogos.png'), :root
                .content
                    .sidediv.clearfix
                    .nav

                        .linx
                            - if current_user
                                .nlnk
                                    %a{:href => "/regions/#{current_user.region_id}"} Others Nearby
                                .nlnk
                                    = link_to "Your Shelf", user_books_path(current_user.id)                        
                                .nlnk
                                    = link_to " Edit Profile ", edit_user_path(current_user.id)
                                .nlnk
                                    = link_to " Logout ", :logout

                            -else
                                .nlnk
                                    = link_to " Register ", new_user_path
                                .nlnk
                                    / = link_to " Login ", :login   
                                    %span.modal_login
                                        login
                            .nlnk
                                = link_to " Contact ", :contacts_new
            #maincontent.fill 
                #page-wrap
                    .content
                        %p#notice= notice
                        = yield
        .push
        .feet
            %p.tagline <span>Give your books a life.</span> <span class="footlg"></span>
                        
    .footer
    / .botright.linkopacity= link_to 'Home', :root